<test>
  {%
  set bannerList = [{
  "id": 15,
  "banner_img": "/upload/res/20200427/15879736373898.png"
  },
  {
  "id": 16,
  "banner_img": "/upload/res/20200427/15879736219058.png"
  },
  {
  "id": 17,
  "banner_img": "/upload/res/20200427/15879736055064.png"
  },
  {
  "id": 18,
  "banner_img": "/upload/res/20200427/15879734705444.jpg"
  }
  ]
  %}
</test>
<test>
  {%
  set horn = {
  "id": 15,
  "btn_name": "小喇叭",
  "icon_img": "/upload/banner/20200428/15880495559469.png",
  "video_url": "/upload/horn",
  "content": "小喇叭开始广播啦！点击下方产品知识模块，点击开发专属科室学习模块，您将感受到中药配方颗粒E-learning提供的最新培训，向下滑您还将看到更多更精彩的开发不同科室的技能。总之还是那句话：做微课我们是用心的！"
  
  }
  %}
</test>
<test>
  {%
  set departmentList = [{
  "id": 15,
  "title":'膏方',
  "banner_img": "/upload/smallclass/20200428/15880676483941.png",
  "sort": 1,
  "url": "/m/department"
  },
  {
  "id": 16,
  "title":'敷贴',
  "banner_img": "/upload/smallclass/20200428/15880679173895.png",
  "sort": 2,
  "url": "/m/department"
  },
  {
  "id": 17,
  "title":'儿科',
  "banner_img": "/upload/smallclass/20200428/15880679384594.png",
  "sort": 3,
  "url": "/m/department"
  },
  {
  "id": 18,
  "title":'肛肠科',
  "banner_img": "/upload/smallclass/20200428/15880679623625.png",
  "sort": 4,
  "url": "/m/department"
  }
  ]
  %}
</test>
<test>
  {%
  set smallclassList = [{
  "id": 15,
  "title":'情景销售',
  "banner_img": "/upload/smallclass/20200429/15881444984347.png",
  "sort": 1,
  "url": "/m/smallclass"
  },
  {
  "id": 16,
  "title":'竞争销售',
  "banner_img": "/upload/smallclass/20200429/15881445121297.png",
  "sort": 2,
  "url": "/m/smallclass"
  },
  {
  "id": 17,
  "title":'基础医疗',
  "banner_img": "/upload/smallclass/20200429/15881445312332.png",
  "sort": 3,
  "url": "/m/smallclass"
  }
  ]
  %}
</test>
<test>
  {%
  set electiveList = [{
  "id": 15,
  "banner_img": "/upload/smallclass/20200428/15880683106367.png",
  "sort": 1,
  "url": "../pediatric/pediatric.html"
  },
  {
  "id": 16,
  "banner_img": "/upload/smallclass/20200428/15880683414325.png",
  "sort": 2,
  "url": "../pediatric/pediatric.html"
  },
  {
  "id": 17,
  "banner_img": "/upload/smallclass/20200428/15880683824284.png",
  "sort": 3,
  "url": "../pediatric/pediatric.html"
  }
  ]
  %}
</test>
<test>
  {%
  set iconList = [
  {
  "id": 15,
  "icon_img": "/static/m/img/index/zscb.png",
  "url": "/m/knowledge"
  },
  {
  "id": 16,
  "icon_img": "/static/m/img/index/canp.jpg",
  "url": "/m/course?type=2"
  },
  {
  "id": 17,
  "icon_img": "/static/m/img/index/xiaox.jpg",
  "url": "/m/notice"
  },
  {
  "id": 18,
  "icon_img": "/static/m/img/index/kec.jpg",
  "url": "/m/course?type=1"
  }
  ]
  %}
</test>

{% extends "./common/base.html" %}
{% set swiper = true %}
{% set nullNvabar = true %}

{% block pageBody %}
<div id="app">
  
  <!--  小喇叭-->
  <div class="horn-box view-port">
    <div class="voice-img">
      <img src="/static/m/img/index/voice.png">
    </div>
    <div class="horn-text">
      <div class="horn-icon">
        <img src="{{horn.icon_img}}">
      </div>
      <marquee scrollamount="3"><span>{{horn.content}}</span>
      </marquee>
    </div>
  </div>
  <audio src="/static/m/video/voice.wav" controls="controls" id="wavFileId" preload autoplay hidden>
  </audio>
  
  <!--    轮播图-->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for item in bannerList %}
      <div class="swiper-slide">
        <div class="img-fix">
          <div class="img-inner">
            <img src="{{item.banner_img}}" class="img">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!--    所有课程-->
  <div class="course-box">
    <div class="list-box">
      {% for item in iconList %}
      <a href="{{item.url}}"><img src="{{item.icon_img}}"></a>
      {% endfor %}
    </div>
  </div>
  
  <!--    精品微课-->
  <div class="smallclass-box">
    <div class="title-box">
      <div class="title"><img src="/static/m/img/index/sq.png">精品微课</div>
      <a class="more" href="/m/course?type=1">更多></a>
    </div>
    
    <div class="smallclass-content">
      <div class="title-list">
        {% for item in smallclassList%}
        <div class="smallclass sort{{item.sort}} {%if item.sort == 1 %}active{% endif %}" data-sort="{{item.sort}}" data-img="{{item.banner_img}}">
          <span>{{item.title}}</span>
        </div>
        {% endfor %}
      </div>
      {% for item in smallclassList %}
      <div class="banner-div hide-class menu-content{{item.sort}} {%if item.sort == 1 %}show-class{% endif %}">
        <a href="/m/smallclass?id={{item.id}}">
          <img class="banner-img" src="{{item.banner_img}}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!--    开发专属科室-->
  <div class="course-calss">
    <div class="title-box">
      <div class="icon-title"><img src="/static/m/img/index/title_01.png">
      </div>
      <a class="more" href="/m/course?type=3">更多></a>
    </div>
    <div class="swiper-containers">
      {% for item in departmentList %}
      <div class="swiper-wrapper">
        <a href="/m/department?id={{item.id}}">
          <div class="swiper-slide">
            <img src="{{item.banner_img}}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!--    选修课-->
  <div class="course-calss">
    <div class="title-box">
      <div class="icon-title"><img src="/static/m/img/index/title_02.png"></div>
      <a class="more" href="/m/course?type=4">更多></a>
    </div>
    {% for item in electiveList %}
    <div class="elective-content">
      <a href="/m/elective?id={{item.id}}">
        <img src='{{item.banner_img}}'>
      </a>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}