<test>
  {%
  set smallclassList = [{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
  "btn_name":"学习",
  "btn2_name":"背景",
  "btn3_name":"讲解"
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":""
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":"讲解"
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":"讲解"
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":"讲解"
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":"讲解"
  },{
  "id": 15,
  "icon_img":"/static/m/img/smallclass/chanpinJS.gif",
  "title":"你是谁",
    "btn_name":"学习",
    "btn2_name":"背景",
    "btn3_name":"讲解"
  }
  
  
  ]
  %}
</test>

<test>
  {% set title = '精品微课-情景销售' %}
  {% set pageTitle = '精品微课-情景销售' %}
  {% set banner = '/static/m/img/smallclass/QJbanner.jpg' %}
</test>

{% extends "../common/base.html" %}

{% block pageBody %}
<div id="app">
	
	<!-- banner -->
	<div class="Carousel-box">
		<div class="banner-img-box">
			<img src="{{banner}}">
		</div>
	</div>	
	
	<!-- 课程列表 -->
	
	{% for item in smallclassList %}
	<div style="margin-top: 30px;" >
		<div class="weike-list-box" >
			<div class="course-left-box">
				<span class="left-icon-box"><img src="{{item.icon_img}}"></span>
			</div>
			<div class="course-right-box">
				<div class="right-top">
					<span class="text course-title">{{item.title}}</span><br>
				</div>
				<div class="right-bottom" >
                    {% if item.btn3_name %}
				<a href=""><span class=" btn-coffee" style="margin-right: 10px;">{{item.btn3_name}}</span></a>
                    {% endif %}
                    {% if item.btn2_name %}
				<a href=""><span class=" btn-blue" style="margin-right: 10px;">{{item.btn2_name}}</span></a>
                    {% endif%}
				<a href=""><span class=" btn-red">{{item.btn_name}}</span></a>

				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	
</div>
{% endblock %}