<data>
  {%
  set navList = [
  {
  "id": 1,
  "title": "首页",
  "color":"#fff",
  "url": "/m"
  },
  {
  "id": 2,
  "title": "知识储备",
  "color":"#FF0000",
  "url": "/m/zhishichubei"
  },
  {
  "id": 3,
  "title": "产品知识",
  "color":"#F9F900",
  "url": "/m/course?type=2"
  },
  {
  "id": 4,
  "title": "消息公告",
  "color":"#00DB00",
  "url": "/m/message"
  },
  {
  "id": 5,
  "title": "科室开发",
  "color":"#0080FF",
  "url": "/m/course?type=1"
  },
  {
  "id": 6,
  "title": "精品微课",
  "color":"#D9006C",
  "url": "/m/course?type=3"
  },
  {
  "id": 7,
  "title": "选修课",
  "color":"#b6e656",
  "url": "/m/course?type=4"
  }
  ]
  %}
</data>

<div class="head-nav-box">
  <div class="head-nav-sub">
    <a href="{{backLink}}">
      <img src="/static/m/img/common/back.png">
    </a>
    <span>{{pageTitle}}</span>
    <div class="menu-icon-id">
      <img src="/static/m/img/common/meun_icon.png">
    </div>
  </div>
  <div class="head-menu-box hide-class">
    {% for item in navList %}
    <a href="{{item.url}}">
      <i class="dot" style="background-color: {{item.color}};"></i>
      <span>{{item.title}}</span>
    </a>
    {% endfor %}
  </div>
</div>